# Exclure les fichiers Python inutiles
__pycache__/
*.pyc
*.pyo

# Exclure les fichiers et dossiers de logs, cache et checkpoints
.ipynb_checkpoints/
logs/

# Exclure les modèles et fichiers volumineux
models/

# Exclure les données du projet (plusieurs Go)
data/
data_redim/
saved/

# Exclure les dossiers, fichiers d'aide et documents non nécessaires à GitHub
help/
point/
images/
informations.txt
arborescence.txt
arborescence2.txt
Dujardin_Vincent_1_notebook_032025.ipynb
